.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
src/components/zpTest

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.eslintcache
config/index.js
test/e2e/screenshot/
package-lock.json
config/index.js
package-lock.json
config/index.js
.vscode/launch.json
