html, body {
  height: 100%;
}

#app {
    /*margin-bottom: 20px;*/
}

.pull-right {
    text-align: right;
}

.full-height {
  height: 100% !important;
}

.container90 {
    margin: 15px 30px auto;
}

.gateway-item-error {
    font-size: small;
    color: red;
}

.full-opacity {
    width: 100%;
}

.occupation {
    visibility: hidden;
}

/* 覆盖iview原始样式 */

.ivu-input[disabled]{
    background-color: #f3f3f3;
    opacity: 1;
    color: #ccc;
    cursor: text !important;
}

.ivu-message {
    font-size: 18px !important;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0,0,0,0.3); 
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: rgba(241,241,0241,0.8); 
    box-shadow: inset 0 0 4px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(241,241,241,0.4); 
}