.list-filter {
	border: 1px solid #ddd;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.filter-row {
	border-bottom: 1px dashed #e3e3e3;
	padding-bottom: 8px;
	overflow: hidden;
	position: relative;
}

.list-filter .filter-row:last-child {
    border-bottom: none;
}

.filter-row.sub {
    border-bottom: none;
    border-top: 1px dashed #e3e3e3;
    padding-bottom: 0;
    margin-top: 8px;
}

.list-filter .row-title {
	position: absolute;
	left: 0;
	top: 8px;
	width: 72px;
	color: #fff;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	padding-left: 8px;
	padding-right: 6px;
	line-height: 22px;
}

.list-filter .row-title.default {
	background: #999;
}

.list-filter .row-title.blue {
	background: #28a4c9;
}

.list-filter .row-title.green {
	background: #3e8f3e;
}

.list-filter .row-title i {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	right: -11px;
	top: 0;
}

.list-filter .row-title.default i {
	border-left: 11px solid #999;
}

.list-filter .row-title.blue i {
	border-left: 11px solid #28a4c9;
}

.list-filter .row-title.green i {
	border-left: 11px solid #3e8f3e;
}

.list-filter .row-items {
	width: 100%;
	padding-left: 90px;
	padding-right: 70px;
	height: 30px;
	overflow: hidden;
}

.list-filter .row-items .control-type {
	color: #5CB85C;
	/*width: 44px;*/
	height: 30px;
	padding-top: 10px;
	padding-right: 10px;
	float: left;
}

.filter-item span {
	display: inline-block;
	line-height: 22px;
	border-radius: 3px;
	padding-left: 6px;
	padding-right: 6px;
	cursor: pointer;
	margin-right: 17px;
	margin-top: 8px;
}

.filter-item .selected.default {
	background: #999;
	color: #fff;
}

.filter-item .selected.blue {
	background: #28a4c9;
	color: #fff;
}

.filter-item .selected.green {
	background: #3e8f3e;
	color: #fff;
}

.list-filter .row-expand {
	line-height: 22px;
	position: absolute;
	right: 0;
	top: 8px;
	font-size: 14px;
}

.list-filter .row-expand:focus,
.list-filter .row-expand:hover {
	text-decoration: none;
}

.list-filter .row-expand .text {
	font-size: 14px;
}

.filter-row .filter-input-item {
	width: 220px;
	position: absolute;
	top: 8px;
	height: 22px;
	line-height: 22px;
}

.filter-row .filter-input-item.left {
	left: 109px;
}

.filter-row .filter-input-item.right {
	right: 40px;
}

.filter-row .filter-input-item>span {
	float: left;
}

.filter-row .filter-input-item>span>input {
	height: 22px;
	display: block !important;
	padding: 0 5px;
}

.filter-input-item span {
	padding-left: 2px;
	padding-right: 2px;
}

.filter-input-item .input-item-title {
	position: absolute;
}

.filter-input-item span.btn {
	padding-left: 10px;
	padding-right: 10px;
}

.filter-input-item span.btn.blue:hover {
	color: #fff;
	background-color: #28a4c9;
}

.filter-input-item span.btn.green:hover {
	color: #fff;
	background-color: #3e8f3e;
}

.filter-input-item input {
	height: 100%;
}

.expand-btn {
	text-align: center;
	cursor: pointer;
	height: 22px;
}

.expand-btn span {
	width: 100px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	color: #999;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-top: none;
}

.expand-btn.default span:hover {
	background-color: #e6e6e6;
}

.expand-btn.blue span:hover {
	color: #fff;
	background-color: #28a4c9;
}

.expand-btn.green span:hover {
	color: #fff;
	background-color: #3e8f3e;
}
